body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.orbit {
  border: 1px dashed white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet-position {
  position: relative;
  top: 0%;
  left: 50%;
}
@keyframes planetRotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes orbetRotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
